$background-color: violet;

.maincomponent {
    background-color: $background-color;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; 
    margin: 100px auto;
    text-align: center;
    padding: 24px; 


    .parag {
        font-size: 24px;
        font-weight: 600;
    }
}


