 @mixin styling($background-color, $primary-family, $secondary-family,  $border-radius, $box-shadow) {

    
    & div:first-child {
        border-radius: $border-radius;
        background-color: darken($background-color, 10%);
    }
    & div:nth-child(2) {
        border-radius: $border-radius;
        background-color: $background-color;
    }
    & div:nth-child(3) {
        border-radius: $border-radius;
        background-color: lighten($background-color, 15%);
    } 
    
    & div:nth-child(4) {

        & :first-child{
            font-family: $primary-family; 
        }
        & :nth-child(2){
            font-family: $secondary-family; 
        }
        border: 0;
    } 
    
    & div:last-child {
         border-radius: $border-radius;
        box-shadow: $box-shadow;
    } 
     
 
}