@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

 $background-color: #B20600;
 $primary-family: 'Libre Bodoni', serif;
 $secondary-family: 'Orelega One', cursive;
 $border-radius: 15px;
 $box-shadow:  -6px -4px 15px 5px rgba(0,0,0,0.78);

$background-color-02: #143F6B;
$primary-family-02: 'Orelega One', cursive;
$secondary-family-02: 'Libre Bodoni', serif;
$border-radius-02: 5px;
$box-shadow-02: 5px 5px 15px 5px rgba(0,0,0,0.78);
